---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/ui/Badge.astro";
import { getCollection } from "astro:content";
import { calcReadTime } from "../utils/reading-time";

const entries = await getCollection("post");
const posts = entries
    .filter((entry) => !entry.data.draft)
    .map((entry) => ({
        id: entry.id,
        slug: entry.id,
        readTime: calcReadTime(entry.body!),
        ...entry.data,
    }))
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
    .slice(0, 3);
---

<Layout title="404 - Not Found">
    <main class="page flex flex-col items-center space-y-10">
        <section class="flex flex-col items-center text-center gap-6 mt-10">
            <div>
                <h1 class="text-4xl md:text-5xl font-bold">Ah... You got it wrong</h1>
                <p class="text-lg text-muted-foreground mt-4 max-w-lg mx-auto">
                    Looks like this page drifted away into the void. 
                    But hey, since you're here, why not read something else?
                </p>
            </div>
        </section>

        <section class="w-full text-left mt-10">
            <h2 class="text-2xl font-semibold mb-6">Recent Posts</h2>
            <div class="flex flex-col gap-3">
                {posts.map((post) => {
                    return (
                        <section class="flex flex-col gap-2 group hover:bg-muted px-3 py-8 rounded-md transition-all duration-300">
                            <div class="flex flex-col md:flex-row gap-2 md:justify-between md:items-start">
                                <a href={`/posts/${post.slug}`}>
                                    <h2 class="text-2xl group-hover:text-primary leading-tight">
                                        {post.title}
                                    </h2>
                                </a>
                                <span class="text-muted-foreground text-xs shrink-0 whitespace-nowrap md:mt-1 md:text-right text-left mt-1">
                                    {post.readTime} min read
                                </span>
                            </div>
                            <p class="text-muted-foreground">
                                {post.frontmatter}
                            </p>
                            <section class="flex gap-2 flex-wrap">
                                {post.tags.map((tag) => {
                                    return <Badge content={tag} />;
                                })}
                            </section>
                        </section>
                    );
                })}
            </div>
        </section>
    </main>
</Layout>
